/* Global Rules */
* {
  box-sizing: border-box;
  line-height: 2.5;
}

.title {
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}

form{
  border: 1px solid black;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #917575;
}

body, html {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* Class Definitions */
.form-row {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  margin: 2px;
  width: 500px;
  gap: 4px;
}

.txt-input {
  border: none;
  border-radius: 4px;
  font-size: 1em;
  height: 30px;
  text-align: left;
}

/* ID Definitions */
#container {
  align-items: center;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#result {
  height: 30px;
  font-weight: 900;
}

.calulate {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #cecece;
  font-weight: 900;
  cursor: pointer;
}
